
.about-container {
    min-height: 100vh;
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    padding-top: 110px;
}

.profile-image {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.image {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px #bc1b68;
    object-fit: cover; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image:hover{
    transform: scale(1.1);
  box-shadow: 0 8px 15px #bc1b68;
}

.title {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: Spartan;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #bc1b68;
}

.content-container {
    max-width: 80rem;
    margin: auto;
    padding: 1.5rem;
}

.text-lg {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #bc1b68;
    font-family: Spartan;
    margin-bottom: 0.75rem;
}

.top-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.top-button {
    background: linear-gradient(109.6deg, #d3989b 11.2%, #bc1b68 91.1%);
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s, color 0.3s;
    display: flex;
    align-items: center;

    box-shadow: 0 8px 15px  #d3989b;
}

.top-button:hover {
    background: linear-gradient(109.6deg, #bc1b68 11.2%, #d3989b 91.1%);
    color: white;
    transform: scale(1.1);
    transform: scale(1.03);
    box-shadow: 0 8px 15px  #bc1b68;
}

.arrow-icon {
    margin-right: 0.5rem;
}
